<html>
<head>
    <title>ADDRESS FORMS</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    #L
    {
        text-align:center;color: red;
    }
    #con
    {
        background-color: yellow;
    }



</style>
<body>
<div id="con" class="container">
    <div class="row">
        <div  class="offset-md-4 column-md-6">
            <h2 id="L" class="text-upper">Enter your details</h2>
            <form method="post">
                {% csrf_token %}
                {{ kalla }}
                <center>
                    <input style="margin-top: 10px" type="submit" value="submit" class="btn btn-success">
                    <input style="margin-top: 10px" type="reset" value="clear" class="btn btn-danger">
                </center>
            </form>

        </div>
    </div>
</div>
</body>
</html>